<h1>Hammad khan</h1>
<div class="jumbotron">
	<h1><i class="fa fa-circle-o-notch"></i>  Stukdo</h1>
<p>This is my smart to do app,made with Ruby on Rails</p>	
<%= link_to "sign up", new_user_registration_path , class: 'btn btn-primary-lg' %>
</div>